* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #5681A6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title_header {
    color: #D9B471;
    margin-bottom: 10px;
}

.container_main {
    background-color: #BFAC95;
    width: 90%;
    max-width: 500px;
    height: 400px;
    border: 3px solid #020202;
    overflow: auto;
    border-radius: 10px;
}

.container_list {
    list-style: none;
}

.list {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #0D0D0D;
    padding: 10px 15px;
    gap: 15px;
}

.img_list {
    margin-bottom: 20px;
    margin-top: 20px;
}

.img_list img {
    border-radius: 50%;
    height: 100px;
}

.content_list {
    flex: 1;
}

.content_bottum {
    align-items: center;
    gap: 10px;
    opacity: 0.5;
    display: none;
}

.list:hover {
    background-color: #74695c;
}

.list:hover .content_bottum {
    display: flex;
}
