* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #516673;
    height: 100vh;
}

.icons {
    width: 19px;
}

.title_header{
    margin-bottom: 40px;
    border-bottom: 2px solid #8FB2BF;
    padding: 0 30px 0 30px;
}

.container_list {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}

.list {
    flex-basis: 250px;
    background-color: #BAD6D9;
    border-radius: 10px;
    text-align: center;
    background-image: url(../IMG/thumb.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.img_list img {
    border-radius: 50%;
    width: 80px;
    margin: 120px 0 20px 0;
}

.content_list h3 {
    margin-bottom: 10px;
}

.content_bottum {
    margin-top: 20px;
    background-color: #8FB2BF;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content_bottum a {
    padding: 5px 56px 5px 56px;
}

.content_bottum a:hover {
    background-color: red;
}
